.navbar-brand {
    color: #ea1c2c !important;
    font-size: 1.5rem;
    font-weight: 100;
}

.nav-link {
    color: #FDE8E9 !important;
    font-size: 1.5rem;
    font-weight: 100;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-link:hover {
    color: #888052 !important;
}

main {}

body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#pp h1 {
    color: white;
    font-weight: 100;
    font-size: 3rem;
}

#pp span {
    color: #ea1c2c;
}
#p1{
	font-size:1.1rem;
}
svg{
	height:3rem;
	width:3rem;
}
h2{
	color:#ea1c2c;
	font-weight:100;
	/* font-size:3rem; */
}
p.lead{
	font-weight:100;
	color:#c47691;
}
.spacer{
	height:7vh;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background:#8f2d56cc; 
}
/* .navbar.scrolled{ */
	/* background-color:#8f2d56; */
/* } */
@media (max-width:1400px) {

    #pp h1 {
        font-size: 1.5rem;
    }
}
